# Copy this file to .env and fill in the appropriate values. Refer to README.md
# for instructions on where to find them.
FEATHERS_AUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ASTRA_DB_CLIENT_ID=
ASTRA_DB_CLIENT_SECRET=
ASTRA_DB_SECURE_CONNECT_BUNDLE_PATH=./secure-connect-bundle.zip
ASTRA_DB_KEYSPACE=sag_mercury
